@import "settings";
@import "foundation";


.panel-right{
  h1,h2,h3,h4,h5,h6{
    color: white;
  }
  color: white;
  padding: rem-calc(12);
  padding-top: 2rem;
  p{
    font-size: rem-calc(19);
  }
}

.about-content{
  height: 58vh;
  background: $alert-color;
  color: white;
}

.main-page-button{
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
}

.weird-button{
  margin-top: 1rem;
  border-radius: 3% 42% 18% 38%;
  box-shadow: 0px 0 4px rgba(black, 0.25);
}

.close-button{
  color: white;
}

.super-round{
  box-shadow: 0px 0px 2px #333;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: white;
  font-size: rem-calc(22);
  border: 8px solid white;
  span.text{
    position: absolute;
    top: 50%;
    -ms-tranform:      translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform:         translate3d(-50%, -50%, 0);
  }
}