---
name: home
url: /
---

<div zf-panel="" id="takoTalk" position="right">
  <a zf-close="" class="close-button">×</a>
    <div class="grid-block">
      <div class="medium-4 grid-content display-content text-center">
        <img src="/assets/img/main-phone.png"/>
        <h2>Today's Words</h2>
      </div>
      <div class="medium-4 grid-content display-content text-center">
        <img src="/assets/img/study-phone.png"/>
        <h2>Study a Word</h2>
      </div>
      <div class="medium-4 grid-content display-content text-center">
        <img src="/assets/img/find-phone.png"/>
        <h2>Find a New Word</h2>
      </div>
    </div>
  </div>


  <div class="grid-block">
    <div class="medium-4 grid-content primary-content text-center">
      <img src="/assets/img/main-icon.png" class="main-icon" />
      <h1><span class="logo-text">Tako</span><br> Words</h1>
      <h4>Learn a word every day.<br/>Study personalized vocabulary.</h4>
      <div class="grid-content text-center">
        <a href="#" zf-open="takoTalk" class="button info hollow large main-page-button"><span class="text">Learn how Tako Works</span></a>
      </div>
    </div>
    <div class="medium-4 grid-content display-content text-center">
      <img src="/assets/img/main-phone.png"/>
    </div>
    <div class="medium-4 grid-content text-center about-content">
        <h3>Focus on words with personal meaning.</h3>
        <p>Tako Words makes it easy to look up words when you don’t know them. Once you find a word Tako will keep track of it, so you don’t have to. Study your top words throughout the day. Tako reminds you when its best to study a word, making it easy to study just enough each day.</p>
        <a href="#" class="button round info large">Coming Soon for iPhone!</a>
    </div>
  </div>





