---
name: home
url: /
---

<div zf-panel="" id="takoTalk" position="right">
  <a zf-close="" class="close-button">×</a>
    <h1>Tako Helps you Learn words you didn't know you didn't know.</h1>
    <p>When immersing yourself in a language, you encounter words you don't know all the time. Whether you are in foreign country talking to those around you, or studying at home, keeping track of all the new words you encounter is difficult.</p>

    <p>Tako makes it easy to take note of a new word the moment you hear or read it. Then, it tells you when to study it later, so you don't have to.</p>
    <a href="#" class="button weird-button large"><span class="text">Get Tako</span></a>
  </div>


  <div class="grid-block">
    <div class="medium-12 grid-content text-center">
      <h1>Tako - Learn a word every day.</h1>
      <h2>Tako helps you study Japanese on the go.</h2>
      <div class="grid-content text-center">
        <a href="#" class="button alert super-round main-page-button"><span class="text">Get Tako</span></a>
      </div>
    </div>

    <div class="medium-12 grid-content text-center about-content">
            <a href="#" zf-open="takoTalk" class="button weird-button large">Learn more about Tako!</a>
    </div>
  </div>





